.board {
  background-color: aquamarine;
  height: 100vh;
  padding: 12px;
}
.board ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.board ul li {
  display: inline-block;
  min-width: 120px;
  background-color: beige;
  padding: 5px;
}
.board ul li + li {
  margin-left: 12px;
}

.listtitle {
  font-weight: 500;
  margin: 0;
  margin-bottom: 4px;
}